{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://getbootstrap.com/docs/4.1/examples/sign-in/signin.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <form class="form-signin text-center" action="{{ path('login') }}" method="POST">
      <img class="mb-4" src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      {% if not app.user.token??false %}
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        {% if error %}
          <div class="alert alert-danger">
              {{ error.messageKey }}
          </div>
        {% endif %}

        <input type="text" id="username" name="_username" class="form-control" placeholder="Name" required autofocus>
        <input type="password" id="inputPassword" name="_password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
      {% else %}
        <h1 class="h3 mb-3 font-weight-normal">You are already logged in</h1>
      {% endif %}
      
    </form>

{% endblock %}
